body {
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(12,78,32,1) 70%);
   
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

.box {
    background: white;
    width: 100px;
    height: 100px;
    transition-property: background, width, height,
    border-radius ;
    transition-duration: 1.5s;
    transition-timing-function: ease-in;

}

.box:hover {
    background: yellow;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}